<section class="commerces">
  <div class="container">
    <div class="commerce-card" *ngFor="let seller of sellers">
      <img src="assets/imgs/commerce-img.jpg" alt="commerce-img" />
      <div class="commerce-card-description">
        <h3><a href="">{{ seller.businessName }}</a></h3>
        <h4>{{ seller.phoneNumber }}</h4>
        <div class="cnpj"><p>{{ seller.cnpj }}</p></div>
      </div>
    </div>
  </div>
  <div class="pagination container">
    <button (click)="previousPage()" [disabled]="page === 0">Anterior</button>
    <button
      (click)="nextPage()"
      [disabled]="(page + 1) * size >= totalElements"
    >
      Próximo
    </button>
  </div>
</section>