.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.commerces {
  margin-top: 50px;
}

.commerce-card {
  display: flex;
  margin: 20px 0;
}

.commerce-card img {
  width: 250px;
  height: auto;
  border-radius: 12px 0 0 12px;
}

.commerce-card-description {
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 0 12px 12px 0;
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cnpj p {
  font-weight: bold;
}

.commerce-card-description a {
  text-decoration: none;
  color: #2C3E50;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 17px;
  background-color: #02b814;
  border: none;
  color: #fff;
  border-radius: 12px;
}

.pagination button:hover {
  cursor: pointer;
  background-color: #e5e5e5;
  color: #02b814;
}